#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.scrollbar1::-webkit-scrollbar{
  width: 10px;
}

.scrollbar1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: inherit;
  border: 1px solid inherit;
}

.scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #00b8db;
}

.scrollbar2::-webkit-scrollbar{
  width: 10px;
}

.scrollbar2::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: inherit;
  border: 1px solid inherit;
}

.scrollbar2::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #fff085;
}

ol {
  list-style: decimal;
  padding-left: 2rem;
}